{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
    {name: "saiteja", prerelease: true},
    {name: "beta", prerelease: true},
    {name: "alpha", prerelease: true}
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "presetConfig": {
          "issueUrlFormat": "https://claimyourmerit.atlassian.net/browse/{{prefix}}{{id}}",
          "issuePrefixes": [
            "GS-"
          ]
        },
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/exec", {
        "prepareCmd": 'current_build_number=$(cat app.json | jq -r \'.expo.ios.buildNumber\') && new_build_number=$(echo $current_build_number | awk -F \'.\' \'{print $1"."($2 + 1)"."$3"."$4}\') && sed -i "s/\\"buildNumber\\": \\".*\\"/\\"buildNumber\\": \\"$new_build_number\\"/" app.json && git add app.json && git commit -m "chore: update build number to $new_build_number"'
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["app.json", "CHANGELOG.md", "package.json", "package-lock.json", "node_modules/**/"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"      
      }
    ],
    "@semantic-release/github"
  ]
}
